<div class="cls_div_footer">
    <div class="container">
  
      <div class="row">
        <div class="col-8 cls-div-menu-footer">
          <ul>
            <li class="barra_menu_footer"> <a class="barra_menu_footer" href="#" > Nota Legal</a></li>
            <li class="barra_menu_footer"> <a href="#"> Poítica de privacidad</a></li>
            <li class="barra_menu_footer"> <a href="#"> Política de cookies</a></li>
            <li class="barra_menu_footer"> <a href="#"> Accesibilidad</a></li>
            <li class="barra_menu_footer"> <a href="#"> Alerta por fraude</a></li>
            <li class="barra_menu_footer"> <a href="#"> Mapa web</a></li>
            <li class="barra_menu_footer"> <a href="#"> Contacto</a></li>
          </ul>
        </div>
        <div class="col-4 cls-div-icon-footer">
            <ul>
                <li class=""> <a href="#"> <i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                <li class=""> <a href="#"> <i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                <li class=""> <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li class=""> <a href="#"> <i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                <li class=""> <a href="#"> <i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                <li class=""> <a href="#"> <i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                <li class=""> <a href="#"> </a></li>
              </ul>
        </div>
  
      </div>    
  
    </div>
    <div>
        <div class="col-12 cls-div-copyright-footer">
            © Repsol 2000 - 2019
        </div>
  
    </div>
  
  
  
  </div>
