/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'TitilliumWeb-Bold';    
    src: url('assets/fonts/RugeBoogie-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;   
}
@font-face {
    font-family: 'TitilliumWeb-Regular';    
    src: url('assets/fonts/RugeBoogie-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;   
}